a {
  color: goldenrod;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

footer p {
  margin-bottom: 0;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  margin: 0 2px;
  font-family: "Charm", cursive;
}

main {
  overflow-y: scroll;
  margin: 0.2em 0;
  height: 476px;
}

.container-fluid {
  width: 98%;
}

#carte {
  width: 16rem;
  padding: 0;
  margin: 1em;
}

.card-body {
  font-family: "Lato", sans-serif;
  height: 6.6rem;
  margin: 0;
  padding: 0 0.2em 0 0.8em;
}

.card-title {
  margin: 0;
}

.card-footer {
  height: 3.4rem;
}

.present {
  display: flex;
  justify-content: space-between;
  border: dashed rgb(236, 202, 7);
  margin: 0.5em 1.4em;
  padding: 5px;
}

.baniere {
  width: 76px;
  border-radius: 10% 35%;
  margin: 0 6em 0 2em;
}

span {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}

.mail {
  border-radius: 2em;
  padding: 1em;
  color: cornsilk;
  background-color: darkgray;
}

h2 {
  color: goldenrod;
  font-weight: bold;
  margin-left: 1em;
  padding-top: 0.5em;
}

.conninscri {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Formulaire de connexion */
.login-form form {
  background: #f7f7f7ea;
  border-radius: 2em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

.valider {
  width: 26em;
  height: 10em;
  overflow-y: scroll;
}
